<template>
  <div class="home">
    <div class="home__box">
      <div class="home__title">
      <Title title="Добавление товара"/>
      </div>
      <div class="home__select">
        <Select :items="selectItems" v-model="selectId" :value="selectId"/>
      </div>
    </div>
    <div class="home__container">
      <div class="home__form">
        <Form/>
      </div>
      <div class="home__cards">
        <Card v-for = "item in Products" v-bind:key="item.id" :title="item.title"  :description="item.description" :src="item.src" :price="item.price" :id="item.id" />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Form from "@/components/form-item.vue";
import Card from "@/components/card-item.vue";
import Title from "@/components/title-item.vue";
import Select from "@/components/select-item.vue";

export default {
  name: "HomeView",
  components: {
    Card,
    Form,
    Title,
    Select
  },
   data() {
    return {
     
     deleteTitle:null,
     selectItems:[
      {
        name: "По цене min",
        id: "1",
      },
      {
        name: "По цене max",
        id: "2",
      },
      {
        name: "По наименованию",
        id: "3",
      },
     ],
     selectId:null,

    };
  },
   computed:{
     Products() {
      return this.$store.getters.GET_PRODUCTS
    },
   },
    methods: {
    deleteProduct(ev){
      console.log(ev)
    }
    
  },
    
};
</script>
<style lang="scss">
 @import "../assets/scss/global";
.home{
  
  &__box{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }
  &__select{
    max-width: 122px;
    width: 100%;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    width:100%;
  }
  &__cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 1028px;
    width: 100%;
    & :nth-child(3n){
      margin-right: 0;
    }
  }
  &__form{
    max-width: 332px;
    width:100%;
    min-height: 440px;
    height: 100%;
  
  }
}
</style>
