<template>
  <button
    class="button"
    :class="[{ button_active: this.valid }]"
    v-bind="$attrs"
    :type="type"
    @click="sendEvent"
  >
    <p v-if="title" class="button__title">
      {{ title }}
    </p> 
  </button>
</template>
<script>
export default {
  name: "btn-item",
  props: {
    title: {
      type: String
    },
    styleType: {
      type: String,
    },
    type: {
      type: String,
    },
    agreement: {
      type: String,
    },
    valid: Boolean
  },
  methods: {
    sendEvent() {
     
      this.$emit("click");

    },
  },
};
</script>

<style lang="scss">
@import "../assets/scss/global";
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.02em;
  border-radius: 10px;
  border: none;
  font-family: $font, "sans-serif";
  color: $grey;
  height: 36px;
  padding: 10px 0 11px 0;
  width: 100%;

  &_active {
    background:#7BAE73;
    color: #FFFFFF;
    cursor: pointer;
    transition: $transition-main;
  }
}

</style>
