<template>
  <form class="form" @input.prevent="checkForm()">
  <div class="form__input">
    <Input id=title  placeholder="Введите наименование товара" titleLabel="Наименование товара"  v-model="form.title"/>
  </div>
  <div class="form__input">
    <Input id=src  placeholder="Введите ссылку" titleLabel="Ссылка на изображение товара" v-model="form.src"/>
  </div>
  <div class="form__textarea">
    <TextareaItem titleLabel="Описание товара" placeholder="Введите описание товара" v-model="form.description"/>
  </div>
  <div class="form__input">
    <Input id=price  placeholder="Введите цену" v-mask="mask" titleLabel="Цена товара" v-model="form.price"/>
  </div>
  <div class="form__btn">
    <Btn title="Добавить товар"  @click="addProduct" :valid="validate" />
  </div>
  </form>
</template>

<script>
import Input from "@/components/input-item.vue";
import Btn from "@/components/btn-item.vue";
import TextareaItem from './textarea-item.vue';

export default {
  name: "multi-word-component-form",
  components: {
    Input,
    Btn,
    TextareaItem,
  },
  data() {
    return {
     
     form:{
      title:null,
      src:null,
      description:null,
      price:null,
     },
     validate:false,
    };
  },
 
   methods: {

    checkForm(){
      if(this.form.title && this.form.src && this.form.price ){
        this.validate = true
      }
    
    },
    computed:{
     mask(){
      if(this.form.price){
        if(this.form.price>999){
          return '#-###'
        }else if(this.form.price>9999){
          return '##-###'
        }else if(this.form.price>99999){
          return '###-###'
        }
      }
     }
   },
    addProduct(){
      if(this.form.title && this.form.src && this.form.price ){
        this.$store.dispatch("addProduct", this.form);
      }
     
    }

  },
};
</script>
<style lang="scss">
@import "../assets/scss/global";
.form{
  background-color: $bg;
  width:100%;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__input{
    max-width: 284px;
    width: 100%;
  }
  &__textarea{
    max-width: 284px;
    width: 100%;
    max-height: 108px;
    height: 100%;
    margin-bottom: 30px;
  }
  &__btn{
    max-width: 284px;
    width: 100%;

  }
}
</style>

