<template>
  <div class="input" >
    <label 
      class="input__label" 
      :for="name" 
      v-if="titleLabel"
    >
      {{ titleLabel }}
    </label>
      <input
        class="input__field"
        :class="{ input__field_disable: !valid }"
        :type="type"
        :placeholder="placeholder"
        :name="name"
        :value="value"
        :required="required"
        v-model="valueInput"
        ref="input"
        @input="emitValue(valueInput)"
      />
  </div>

</template>

<script>
export default {
  name: "input-item",
  props: {
    placeholder: String,
    name: String,
    type: {
      type: String,
      default: "text",
    },
    titleLabel: String,
    value: String,
    styleType: String,
    required: String,
    re: {
      type: String,
      default: ".{1,50}",
    },
  },
  data() {
    return {
      valueInput: "",
      valid: false,
    };
  },
  computed: {
   
  },
  watch: {
    // value: function () {
    //   if (this.value === null) {
    //     this.valueInput = "";
    //     this.valid = false;
    //   }
    // },
  },
  methods: {
    emitValue() {
      let input = this.$refs.input;
      this.$emit("input", input.value);
      //this.validInput(input);
    },
    // validInput(input) {
    //   let reg = new RegExp(this.re);
    //   if (reg.test(input.value)) {
    //     this.valid = true;
    //   } else {
    //     this.valid = false;
    //   }
    //   this.$store.dispatch("updateInputValidity", this.valid);
    //   return this.valid;
    // },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/global";
.input {
  width: 100%;
  max-width: 284px;
  box-sizing: border-box;

  &__field {
    max-width: 100%;
    width: 100%;
    height: 36px;
    outline: none;
    padding-left: 16px;
    border:none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 16px;
  
    &::placeholder {
 
      font-weight: 400;
      font-size: 12px;
      opacity: 0.5;
      font-family: $font, "sans-serif";
    }

    &:focus {
      outline: none;
      border: none;
    }

    &_disable {
     

      
    }
  }

  &__label {
    display: inline-block;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-size: 10px;
    font-family: $font, "sans-serif";
    margin-bottom: 4px;
    position: relative;
    color: $labl-color;
    &:after{
      content:" ";
      display:block;
      border-radius: 50%;
      height: 4px;
      width: 4px;
      background-color: #FF8484;
      position: absolute;
      top:0;
      right:-4px;
    }
  }

  &_submit {
    .input__field {
      display: flex;
      align-items: center;
      justify-content: center;
 

      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
    
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
    
      height: 40px;
      padding: 0 30px;
      width: auto;

    
    }
  }
}
</style>
