<template>
  <div class="select"  :class="{select__options_show : showOptions }" @click="toggleShowOptions">
    <div class="select__result-wrap">
      <p v-if="!valueSelect" class="select__result">По умолчанию</p>
      <p v-else class="select__result"> {{ valueSelect}}</p>
    </div>
    <div class="select__options" >
      <label class="select__option" :value="item.id" v-for="item in items" :key="item.id">
        <input class="select__input select__input_radio" type="radio" name="select"
               :value="item.id" @click="toggleShowOptions" @change="emitItem(item.id) ">
        <span class="select__result"> {{ item.name }}</span>
      </label>
    </div>
  </div>
</template>
<script>


export default {
  name: 'select-item',
  props: {
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    ShowFirst:{
      type: Boolean,
      default() {
        return false;
      }
    },
    value: {
      type: String,
    }
  },
  data() {
    return {
      showOptions: false,
    };
  },
  computed: {
    valueSelect() {
      let result;
        this.items.forEach(el => {
          if(el.id ==  this.value){
            result = el.name
          }
        })
      return result;
    }
  },
  methods: {
    toggleShowOptions() {
      this.showOptions = !this.showOptions
    },
    emitItem(item) {
      this.$emit('input', item)
  },
  }
};
</script>

<style lang="scss" scoped>
 @import "../assets/scss/global";
.select {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 68px;
  position: relative;
  background-color: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  height: 36px;

  &::before {
    content: '';
    position: absolute;
    display: flex;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: url("~@/assets/arrow_select.svg") no-repeat center center;
    width: 14px;
    height: 14px;
    transition: $transition-main;
    cursor: pointer;
  }

  &__options {
    transition: $transition-main;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 32px;
    width: 100%;
    background-color: #FFFEFB;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 999;
  }

  &__options_show {

    &::before {
      transform: rotate(-180deg) translateY(50%);
    }

    .select__options {
      opacity: 1;
      visibility: visible;
    }
  }


  &__option {
    position: relative;
    padding-left: 12px;
    font-family: $font, "sans-serif";
    font-weight: 400;
    font-size: 12px;
    color: $grey;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
      color: $labl-color;
      transition: $transition-main;
    }
  }

  &__input_radio {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  &__result-wrap {
    display: flex;
    width: 100%;
    padding-left: 12px;
    padding-right: 30px;
    cursor: pointer;
    font-family: $font, "sans-serif";
    color: $grey;
    font-weight: 400;
    font-size: 12px;
  }

}


</style>