<template>
  <div class="textarea">
    <label :for="name" class="textarea__label" v-if="titleLabel">
      {{ titleLabel }}
    </label>
    <textarea
      class="textarea__input"
      :placeholder="placeholder"
      :name="name"
      v-model="valueInput"
      :class="{ textarea__input_disable: !valid }"
      :required="required"
      ref="textArea"
      @input="emitValue(valueInput)"
    />
  </div>
</template>
<script>
export default {
  name: "textarea-item",
  props: {
    placeholder: {
      type: String,
    },
    name: {
      type: String,
    },
    titleLabel: {
      type: String,
    },
    re: {
      type: String,
      default: ".{1,50}",
    },
    required: {
      type: String,
    },
    value: {
      type: String,
    },
  },
  data() {
    return {
      valueInput: "",
      valid: false,
    };
  },
  watch: {
    value: function () {
      if (this.value === null) {
        this.valueInput = "";
        this.valid = false;
      }
    },
  },
  methods: {
    emitValue() {
      let textArea = this.$refs.textArea;
      this.$emit("input", textArea.value);
     // this.validInput(textArea);
    },
    validInput(textArea) {
      let reg = new RegExp(this.re);
      if (reg.test(textArea.value)) {
        this.valid = true;
      } else {
        this.valid = false;
      }
      this.$store.dispatch("updateInputValidity", this.valid);
      return this.valid;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/global";
.textarea {
  max-width: 284px;
  width: 100%;
  box-sizing: border-box;
  

  &__input {
    max-width: 100%;
    width: 100%;
    height: 108px;
    outline: none;
    padding-left: 16px;
    padding-top: 16px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    resize: none;

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      font-family: $font, "sans-serif";
    }

    &:focus {
      outline: none;
      border: none;
    }

  }

  &__label {
    display: block;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 4px;
    font-family: $font, "sans-serif";
    color: $labl-color;
  }
}
</style>
