<template>
  <div class="title" :class="objectStyle">
    {{ title }}
  </div>
</template>

<script>
export default {
  name: "title-item",
  props: {
    title: {
      type: String,
    },
    styleType: {
      type: String,
    },
  },
  data() {
    return {};
  },
  computed: {
    objectStyle() {
      return {
        title_header: this.styleType === "header",
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  @import "../assets/scss/global";
 
  font-weight: 700;
  font-size: 24px;
  background: transparent;
  padding-bottom: 20px;
  position: relative;
  font-family: $font, "sans-serif";
  width: fit-content;
  color: $black;


}
</style>
