<template>
  <div id="app">
    <div class="main">
      <div class="main__wrap">
        <router-view />
      </div>
    </div>
    
  </div>
</template>

<style lang="scss">
.main{
  background: rgba(255, 254, 251, 0.8);
&__wrap{
  max-width: 1376px;
  width: 100%;
  margin:0 auto;
}
}
</style>
