@font-face {
    font-family: 'Source Sans Pro';
    src: url('~@/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('~@/assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
  }
  
  
 